In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chatra,IN,2021-07-27 00:47:50,24.2167,84.8667,78.78,88,100,4.63
1,1,Korla,CN,2021-07-27 00:47:51,41.7597,86.1469,86.52,22,0,10.54
2,2,Geraldton,AU,2021-07-27 00:47:51,-28.7667,114.6000,64.81,63,40,24.16
3,3,Nanortalik,GL,2021-07-27 00:46:00,60.1432,-45.2371,47.62,82,48,10.85
4,4,Ushuaia,AR,2021-07-27 00:44:18,-54.8000,-68.3000,33.46,93,90,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig