In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chatra,IN,2021-07-27 00:47:50,24.2167,84.8667,78.78,88,100,4.63
1,1,Korla,CN,2021-07-27 00:47:51,41.7597,86.1469,86.52,22,0,10.54
2,2,Geraldton,AU,2021-07-27 00:47:51,-28.7667,114.6000,64.81,63,40,24.16
3,3,Nanortalik,GL,2021-07-27 00:46:00,60.1432,-45.2371,47.62,82,48,10.85
4,4,Ushuaia,AR,2021-07-27 00:44:18,-54.8000,-68.3000,33.46,93,90,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chatra,IN,2021-07-27 00:47:50,24.2167,84.8667,78.78,88,100,4.63
1,1,Korla,CN,2021-07-27 00:47:51,41.7597,86.1469,86.52,22,0,10.54
6,6,Bethel,US,2021-07-27 00:47:52,41.3712,-73.4140,79.75,80,75,4.61
9,9,Sinnamary,GF,2021-07-27 00:47:53,5.3833,-52.9500,78.17,85,70,6.69
12,12,Tura,IN,2021-07-27 00:47:55,25.5198,90.2201,77.47,93,100,3.62
13,13,Vilyuysk,RU,2021-07-27 00:47:55,63.7553,121.6247,75.94,48,7,8.25
20,20,Albany,US,2021-07-27 00:44:16,42.6001,-73.9662,75.78,80,0,5.82
24,24,Vaini,TO,2021-07-27 00:48:00,-21.2000,-175.2000,78.96,83,75,10.36
25,25,Butaritari,KI,2021-07-27 00:43:04,3.0707,172.7902,82.53,75,30,7.36
27,27,Makakilo City,US,2021-07-27 00:48:02,21.3469,-158.0858,86.32,54,40,13.80

In [21]:
preferred_cities_df.notnull().sum()

City_ID       209
City          209
Country       209
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [22]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and cordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head()

         City Country  Max Temp      Lat      Lng Hotel Name
0      Chatra      IN     78.78  24.2167  84.8667
1       Korla      CN     86.52  41.7597  86.1469
6      Bethel      US     79.75  41.3712 -73.4140
9   Sinnamary      GF     78.17   5.3833 -52.9500
12       Tura      IN     77.47  25.5198  90.2201

In [23]:
#params = API, Lat and Lng, 5,000 meter radius, type of place
#Set parameters to search for a hotel
params = {
    "radius":5000,
    "type":"lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Chatra,IN,78.78,24.2167,84.8667,Shubhra Lodge
1,Korla,CN,86.52,41.7597,86.1469,Gulisitan Hotel
6,Bethel,US,79.75,41.3712,-73.4140,Courtyard by Marriott Danbury
9,Sinnamary,GF,78.17,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
12,Tura,IN,77.47,25.5198,90.2201,Hotel RIKMAN Continental

In [33]:
#Add a heatmap of temperature for the vacation spots
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))