## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [21]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pasvalys,LT,56.06,24.40,67.32,96,64,5.82,broken clouds
1,1,Atuona,PF,-9.80,-139.03,77.83,71,1,17.92,clear sky
2,2,Ribeira Grande,PT,38.52,-28.70,72.01,85,55,8.61,broken clouds
3,3,Talnakh,RU,69.49,88.40,61.65,86,96,4.45,light rain
4,4,New Norfolk,AU,-42.78,147.06,55.92,63,53,5.01,light rain

In [22]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 90

In [23]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.80,-139.03,77.83,71,1,17.92,clear sky
5,5,Avarua,CK,-21.21,-159.78,77.05,65,21,4.61,few clouds
11,11,Hamilton,US,39.18,-84.53,76.35,82,1,0.00,clear sky
30,30,Vanimo,PG,-2.67,141.30,84.04,78,37,6.64,moderate rain
31,31,Mackay,AU,-21.15,149.20,79.68,60,80,4.94,broken clouds
33,33,Hithadhoo,MV,-0.60,73.08,80.74,78,61,9.01,broken clouds
34,34,Acajutla,SV,13.59,-89.83,79.81,81,94,2.17,moderate rain
37,37,Airai,TL,-8.93,125.41,76.06,34,89,4.88,overcast clouds
51,51,Mount Isa,AU,-20.73,139.50,85.77,23,8,11.50,clear sky
54,54,Sorada,IN,19.75,84.43,80.44,79,100,4.97,overcast clouds

In [24]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                264
City                   264
Country                264
Lat                    264
Lng                    264
Max Temp               264
Humidity               264
Cloudiness             264
Wind Speed             264
Current Description    264
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [25]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp Current Description    Lat     Lng Hotel Name
1      Atuona      PF     77.83           clear sky  -9.80 -139.03
5      Avarua      CK     77.05          few clouds -21.21 -159.78
11   Hamilton      US     76.35           clear sky  39.18  -84.53
30     Vanimo      PG     84.04       moderate rain  -2.67  141.30
31     Mackay      AU     79.68       broken clouds -21.15  149.20
33  Hithadhoo      MV     80.74       broken clouds  -0.60   73.08
34   Acajutla      SV     79.81       moderate rain  13.59  -89.83
37      Airai      TL     76.06     overcast clouds  -8.93  125.41
51  Mount Isa      AU     85.77           clear sky -20.73  139.50
54     Sorada      IN     80.44     overcast clouds  19.75   84.43

In [26]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.notnull().sum()

City                   264
Country                264
Max Temp               264
Current Description    264
Lat                    264
Lng                    264
Hotel Name             264
dtype: int64

In [29]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Atuona,PF,77.83,clear sky,-9.80,-139.03,Villa Enata
5,Avarua,CK,77.05,few clouds,-21.21,-159.78,Paradise Inn
11,Hamilton,US,76.35,clear sky,39.18,-84.53,Six Acres Bed & Breakfast
30,Vanimo,PG,84.04,moderate rain,-2.67,141.30,Vahmoneh Lodge Vanimo
31,Mackay,AU,79.68,broken clouds,-21.15,149.20,International Lodge Motel
...,...,...,...,...,...,...,...
668,Najran,SA,79.05,few clouds,17.49,44.13,محمد هادي ال فطيح
672,Itoman,JP,88.18,broken clouds,26.12,127.67,Southern Beach Hotel & Resort Okinawa
679,Chifeng,CN,78.69,light rain,42.27,118.96,Junyu Tiancheng Hotel
682,Golden,US,86.36,few clouds,39.76,-105.22,"The Golden Hotel, Ascend Hotel Collection"
684,Moses Lake,US,79.48,clear sky,47.13,-119.28,Ramada by Wyndham Moses Lake

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))